---
import TreatmentLayout from '~/layouts/TreatmentLayout.astro';
import Content from '~/components/widgets/Content.astro';

import FAQ from '~/components/widgets/FAQ.astro';
import { getEntry } from 'astro:content';

const treatment = await getEntry('treatments', 'hifu-facial-lifting');
if (!treatment) {
  return Astro.redirect('/404');
}
const { treatmentId, title, description, heroImage, beforeAfterImages, faqs, treatmentAreas, treatmentAreasImage } =
  treatment.data;
---

<TreatmentLayout
  treatmentId={treatmentId}
  title={title}
  description={description}
  heroImage={heroImage}
  treatmentAreas={treatmentAreas}
  treatmentAreasImage={treatmentAreasImage}
  faqItems={faqs}
  beforeAfterImages={beforeAfterImages}
>
  <Content
    tagline="Liftera"
    title="HIFU Non-Surgical Lifting"
    image={{
      src: '~/assets/images/hifu/hifu_1.jpeg',
      alt: 'HIFU Lifting',
      height: 300,
    }}
  >
    <Fragment slot="content">
      <h3 class="text-xl font-bold tracking-tight dark:text-white sm:text-2xl mb-2">
        Liftera - A CLINICALLY-PROVEN AND MEDICAL-GRADE SOLUTION FOR RAPID AND PRECISE FACIAL LIFTING + SCULPTING
      </h3>
      <p>
        In as little as one 30-minute treatment, the next-generation of HIFU Non-Surgical Lifting can deliver
        transformative results in tightening, lifting, smoothing and sculpting more areas than traditional HIFU.
      </p>
    </Fragment>
  </Content>
  <FAQ
    id="lifteraFAQ"
    title="Why Liftera?"
    items={[
      {
        title: 'ADVANCED, MEDICAL GRADE TECHNOLOGY',
        description:
          'Developed by Korean medi-aesthetic leaders, Asterasys, Liftera is a medical-grade, non-surgical lifting technology (ARTG #393230) that elevates traditional HIFU. Utilising exclusive Thermal Diffusion Treatment™ technology it delivers powerful and effective face and neck lifting results.',
        icon: 'tabler:device-heart-monitor',
      },
      {
        title: 'OPTIMISED FOR PRECISION AND VERSATILITY',
        description:
          'Liftera offers comprehensive facial lifting capabilities for effective enhancement across the entire face - including the forehead, eye area, cheeks, mouth, and chin - delivering results comparable to more invasive cosmetic procedures, especially notable in periorbital lifting.',
        icon: 'tabler:target',
      },
      {
        title: 'ENHANCED SAFETY AND COMFORT',
        description:
          'Liftera generates stable and precise Peak Power to increase the efficacy of thermal energy within targeted tissues. This innovation reduces patient discomfort and the risk of adverse reactions, without compromising on treatment results.',
        icon: 'tabler:shield-check',
      },
      {
        title: 'REDUCED DISCOMFORT AND DOWNTIME',
        description:
          'With a tailored approach, Liftera offers an ideal balance of comfort, minimal downtime and impressive results that clients love. Patients can resume normal activities immediately, making this the perfect treatment for those seeking non-invasive lifting and contouring procedures.',
        icon: 'tabler:clock-check',
      },
    ]}
    classes={{ container: '!pt-0' }}
  />
</TreatmentLayout>
