---
import TreatmentLayout from '~/layouts/TreatmentLayout.astro';
import Content from '~/components/widgets/Content.astro';
import { getEntry } from 'astro:content';

const treatment = await getEntry('treatments', 'rf-skin-tightening');
if (!treatment) {
  return Astro.redirect('/404');
}
const { treatmentId, title, description, heroImage, beforeAfterImages, faqs, treatmentAreas, treatmentAreasImage } =
  treatment.data;
---

<TreatmentLayout
  treatmentId={treatmentId}
  title={title}
  description={description}
  heroImage={heroImage}
  treatmentAreas={treatmentAreas}
  treatmentAreasImage={treatmentAreasImage}
  faqItems={faqs}
  beforeAfterImages={beforeAfterImages}
>
  <Content
    tagline="UltraLUX"
    title="Radio Frequency Skin Tightening"
    image={{
      src: '~/assets/images/rf/RF_Skin_Tightening_Face_06.jpg',
      alt: 'RF Skin Tightening',
      height: 300,
    }}
    isReversed
  >
    <Fragment slot="content">
      <h3 class="text-xl font-bold tracking-tight dark:text-white sm:text-2xl mb-2">
        Remove sagging skin and signs of ageing
      </h3>
      <div class="flex flex-col gap-2">
        <p>
          RF works by generating heat and applying it to the epidermal and dermal layers of the skin. The heat causes
          tissue retraction, resulting in instantly tighter and firmer skin. It also works to stimulate collagen
          production which over time produces a more youthful looking appearance.
        </p>
      </div>
    </Fragment>
  </Content>
</TreatmentLayout>
