---
import TreatmentLayout from '~/layouts/TreatmentLayout.astro';
import Content from '~/components/widgets/Content.astro';
import { getEntry } from 'astro:content';

const treatment = await getEntry('treatments', 'ultrasound-body-contouring');
if (!treatment) {
  return Astro.redirect('/404');
}
const { treatmentId, title, description, heroImage, beforeAfterImages, faqs, treatmentAreas, treatmentAreasImage } =
  treatment.data;
---

<TreatmentLayout
  treatmentId={treatmentId}
  title={title}
  description={description}
  heroImage={heroImage}
  treatmentAreas={treatmentAreas}
  treatmentAreasImage={treatmentAreasImage}
  faqItems={faqs}
  beforeAfterImages={beforeAfterImages}
>
  <Content
    tagline="LUX Series"
    title="Ultrasound Body Contouring"
    image={{
      src: '~/assets/images/hifu/hifu_1.jpeg',
      alt: 'HIFU Lifting',
    }}
    isReversed
  >
    <Fragment slot="content">
      <h3 class="text-xl font-bold tracking-tight dark:text-white sm:text-2xl mb-2">
        Sculpt your figure for a tightened and toned silhouette
      </h3>
      <div class="flex flex-col gap-2">
        <p>
          Ultrasound Body Contouring is an advanced method to contour, slim and tone the body, without the need for
          invasive procedures and surgery.
        </p>
        <p>
          Offering effective results on virtually any area of the body, Ultrasound Body Contouring is extremely popular
          for targeting stubborn areas that refuse to budge, even despite a healthy diet and exercise regime.
        </p>
      </div>
    </Fragment>
  </Content>
</TreatmentLayout>
